

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
}

i,svg {  
    pointer-events: none; 
} 

.kick-pad,.snare-pad,.hihat-pad {
     width: 5rem;
     height: 5rem;
     margin: 1rem 0.5rem;
     cursor: pointer;
}

.kick-pad{
    background-color: rgb(160, 208, 223);
}
.snare-pad{
    background-color: rgb(176, 159, 236);
}
.hihat-pad{
    background-color: rgb(240, 201, 118);
}

.kick-pad.active {
    background-color: rgb(29, 135, 167);
}

.snare-pad.active {
    background-color: rgb(86, 64, 167);
}

.hihat-pad.active {
    background-color: rgb(158, 120, 37);
}

.sequencer {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hihat-track, .snare-track, .kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;  
    margin-top: 5rem;
}

.kick,.snare,.hihat{
    display: flex;
}

.controls{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(97, 95, 95);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(175, 174, 174);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    border-radius: 2rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
}

.mute.active {
    background-color: rgb(196, 196, 196);
}

.tempo{
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(175, 174, 174);
    cursor: pointer;
    border-radius: 1rem;
}
.tempo p, span {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
    color: white;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}



